body {
  background-image: url(../img/pattern.png);
}
.header {
  position: fixed;
  width: 100%;
  background-color: #000;
}
.nav {
  width: 50%;
  margin: 15px auto;
}
a {
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
}
a:hover {
  color: #a9a9a9;
  text-decoration: none;
}


